#!/bin/sh
setxkbmap -model pc104 -layout hu &
nitrogen --restore &
numlockx on &
xcompmgr -c &
xsetroot -cursor_name left_ptr &
setxkbmap -model pc104 -layout hu &
xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto
/usr/bin/sensor.sh
